* {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 100%;
    height: 568px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    z-index: 1;
}

@media (min-width: 768px) {
   .container {
    width: 100%;
    height: 1024px;
    background: #E7EAF2;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
   }
}

@media (min-width: 1280px) {
    .container {
    width: 100%;
    background: #E5E5E5;
    }
}


