.wrap {
  display: flex;
  flex-direction: column;
}

.table {
  background-color: red;
}

tr:hover {
  background-color: #fff;
}

.hoveredLetter {
  position: relative;
}

.hoveredLetterwindow {
  position: static;
}
