* {
   margin: 0;
   padding: 0;  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

p {
   margin-left: 100px;
   margin-top: 110px;
   padding-left: 60px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 45px;
   display: flex;
   align-items: center;
   background-image: url(./icons/wallet.svg);
   background-repeat: no-repeat;
}
.span {
   visibility: hidden;
   z-index: 3;
}


@media (min-width: 768px) {
   p {
      margin-left: 179px;
      margin-top: 40px;
      padding-left: 60px;
   }

   .violetCircle {
      background-image: url(./icons/violetCircle.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 495px;
      height: 440px;
      left: 0px;
      top: 585px;
      z-index: 2;
     }

     .pinkCircle {
      position: absolute;
      width: 618px;
      height: 547px;
      left: 312px;
      top: 0px;
      background-image: url(./icons/pinkCircle.svg);
      background-repeat: no-repeat;
      z-index: 2;
     }

     .span {
      visibility: visible;
      position: absolute;
      width: 187px;
      height: 45px;
      left: 414.26px;
      top: 167px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 45px;      
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
     }
}

@media (min-width: 1280px) {
   p {
      margin-left: 179px;
      margin-top: 40px;
      padding-left: 60px;
   }

   .span {
      position: absolute;
      left: 200px;
      top: 597.5px;
      
      width: 187px;
      height: 45px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 45px;      
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
     }

   .violetCircle {
      left: 0px;
      top: 281px;
      z-index: 1;
     }

     .pinkCircle {
      background-image: url(./icons/pinkCircleScreen.svg);
      position: absolute;
      width: 618px;
      height: 547px;
      left: 102px;
      top: 0px;
     }    

     .grayBG {
      height: 1023px;
      margin-left: 560px;
      top: 0px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(50px);
     }
}



