* {
    margin: 0;
    padding: 0;
    
}

.FormWrapper {
    
    position: absolute;
    width: 320px;
    height: 568px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 5;
}

@media (min-width: 768px) {
    .FormWrapper {
        
        position: absolute;
        width: 540px;
        height: 468px;
        left: 114px;
        top: 360px;
        border-radius: 20px;
        
        }
}

@media (min-width: 1280px) {
    .FormWrapper {
        
        position: absolute;
        width: 540px;
        height: 468px;
        left: 95px;
        top: 136px;
        border-radius: 20px;
        
        }
}


