.scrollUp {
    position: fixed;
    color: white;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfI8I0fHC5dbpEbq9CMoUfhN0W4WyiYe18ag&usqp=CAU');
    background-size: contain;
    background-color: #8ecbc6;
    z-index: 9999;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 15px;
    bottom: 18px;
}
